@charset "UTF-8";
// input的混合宏(mixin);

//按钮;
@mixin input($args:false){
	@include input_each( $args );
}

//块按钮;
@mixin input-block($args:false){
  $defaultArgs: (d:block,ta:center,cur:pointer,trs:all 0.3s ease );
  $newArgs : map-merge($defaultArgs,$args);
  @include input($newArgs);
}

//行内按钮;
@mixin input-inblock($args:false){
  $defaultArgs: (d:inline-block,ta:center,cur:pointer,trs:all 0.3s ease );
  $newArgs : map-merge($defaultArgs,$args);
  @include input($newArgs);
}

//遍历按钮;
@mixin input_each( $args ){
	$parameter  : d,w,h,pad,mar,f,l,c,hc,bg,hbg,bd,hbd,r,cur,ta,trs,box-s;
	$parameter2 :(
    d:display,
    w:width,
    h:height,
    pad:padding,
    mar:margin,
    f:font-size,
    l:line-height,
    c:color,
    hc:color,
    bg:background,
    hbg:background,
    bd:border,
    hbd:border,
    r:border-radius,
    cur:cursor,
    ta:text-align,
    trs:transition,
    box-s:box-shadow
  );
	@each $o, $s in $args {
    $i: index($parameter, $o);
		@if( $i and type-of( $i ) == number ){
      @if( $o == 'r' ){
        @include bdrs($s);
      }@else if( $o == 'trs' ){
        @include css3(#{map-get($parameter2,$o)},$s);
      }@else if( $o == 'box-s'  ){
        @include css3(#{map-get($parameter2,$o)},addUnits($s));
      }@else if( $o == 'hbg' or $o == 'hc' or $o == 'hbd' ){
      }@else {
        #{map-get($parameter2,$o)} : addUnits($s);
      }
	  }
  }
  @content;
  &:hover{
    @if( map-has-key($args,hc) ){
      @include c(map-get($args,hc));
    }
    @if( map-has-key($args,hbg) ){
      @include bg(map-get($args,hbg));
    }
    @if( map-has-key($args,hbd) ){
      @include bd(map-get($args,hbd));
    }
  }
}