@charset "UTF-8";
// 圆形的混合宏(mixin);

//圆形;
@mixin round($size){
	width:$size;
	height:$size;
	@include css3(border-radius,100%);
}

//圆形加背景色;
@mixin roundc($size,$color){
	width:$size;
	height:$size;
	@include css3(border-radius,100%);
	background-color:$color;
}
