@charset "UTF-8";
// 背景的混合宏(mixin);

//设置背景;
@mixin bg( $color,$img:false,$repeat:no-repeat,$position:0 0,$ie6:false ){
	@if( $img ){
    background:url($img) $color $repeat addUnits($position);
    $global-ie : compatibility() and str-index($img,png);
    $present-ie : $ie6 and str-index($img,png);
    @if( $global-ie or $present-ie ){
      $img-len :  (str-length($img) - 3);
      $img-gif : str-slice($img,1,$img-len)+'gif';
      _background:url($img-gif) $color $repeat addUnits($position);
    }
	}@else{
    @include bgc($color,$support-for-ie:$ie6);
	}
}

//设置图片背景;
@mixin bgi( $img:false, $repeat:no-repeat, $position:0 0,$ie6:false ) {
  $global-ie : compatibility() and str-index($img,png);
  $present-ie : $ie6 and str-index($img,png);
  @if( not $position) {
    background: url($img) $repeat;
    @if( $global-ie or $present-ie ){
      $img-len :  (str-length($img) - 3);
      $img-gif : str-slice($img,1,$img-len)+'gif';
      _background: url($img-gif) $repeat;
    }
  }@else if( not $repeat) {
    background: url($img) addUnits($position);
    @if( $global-ie or $present-ie ){
      $img-len :  (str-length($img) - 3);
      $img-gif : str-slice($img,1,$img-len)+'gif';
      _background: url($img-gif) addUnits($position);
    }
  }@else if( not $position and not $repeat) {
    background: url($img);
    @if( $global-ie or $present-ie ){
      $img-len :  (str-length($img) - 3);
      $img-gif : str-slice($img,1,$img-len)+'gif';
      _background: url($img-gif);
    }
  }@else {
    background: url($img) $repeat addUnits($position);
    @if( $global-ie or $present-ie ){
      $img-len :  (str-length($img) - 3);
      $img-gif : str-slice($img,1,$img-len)+'gif';
      _background: url($img-gif) $repeat addUnits($position);
    }
  }
}

//设置background-repeat;
@mixin bgr( $arg:no-repeat ){
  background-repeat: $arg ;
}

//设置background-size;
@mixin bgz( $value:cover ){
  background-size: addUnits( $value );
}

//设置图片背景 && background-size;
@mixin bgiz( $img:false,$repeat:no-repeat,$position:0 0,$size:cover ){
	@include bgi($img,$repeat,$position);
	@include bgz($size);
}

//设置background-clip;
@mixin bg-clip( $value:content-box ){
	background-clip:$value;
}

//设置background-origin;
@mixin bgo( $value:content-box ){
	background-origin:$value;
}

//设置background-position;
@mixin bgp( $value:center center ){
	background-position:addUnits( $value );
}

//设置背景颜色;
@mixin bgc( $color,$support-for-ie:false ){
  @if( str-slice('#{$color}', 1, 4)  == 'rgba' ){
    background: $color;
    @if( compatibility() or $support-for-ie ){
			filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#{ie-hex-str($color)},endColorstr=#{ie-hex-str($color)});
			:root & {
				filter:none;
			}
		}
  }@else{
    background:unquote($color);
  }
}

//用max-width来防止图片撑破容器
@mixin max-img{
	@include block;
	@include maw(100%);
	@include h(auto);
}

// 2x 3x 背景图片;
@mixin bg-image( $url , $repeat:no-repeat, $position:0 0 ) {
  @include bgi("$url + '@2x.png'",$repeat,$position);
	@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    @include bgi("$url + '@3x.png'",$repeat,$position);
	}
}

//全屏大图背景;
@mixin fullscreen-bg( $url ,$position:50% 50% ) {
	@include wh(100%);
	@include wh(100vw,100vh);
	@include bgi( $url,$position:$position );
	@include bgz;
}

///////////////////////////////////////////////////////////////////////////
// css sprite,只能X轴、Y轴(默认Y轴);                                        //
// 例子 :                                                                 //
//    .sprite-ico{                                                       //
//      @include wh(163);                                                //
//      @include bgi('../i/1.jpg');                                      //
//    }                                                                  //
//    @include bg-sp('.sprite-ico',5,163){                               //
//      @include fl;                                                     //
//    };                                                                 //
//    或者 X轴;                                                           //
//      @include bg-sp('.sprite-ico',5,163,$dir:x);                      //
///////////////////////////////////////////////////////////////////////////
//css精灵(只能X轴、Y轴);
@mixin bg-sp( $name:'.sprite-ico',$number:10,$mult:2,$startX:0,$startY:0,$dir:y,$bgz:false,$url:false,$ie6:false ) {
  // name                  : class名;
  // number                : 图标个数;
  // mult                  : 间隔距离;
  // startX                : x轴开始像素点;
  // startY                : y轴开始像素点;
  // dir                   : 方向:X轴、Y轴、XY轴(x,y,xy);
  // bgz                   : background-size;
  // url                   : 图片路径;
  // ie6                   : 兼容ie6添加gif图片;
  $num : 0;
  $distance : 0;
  @for $i from 0 through $number {
    $num: $num+1;
    #{$name}#{$num} {
      
      @content;

      @if( $url ) {
        @include bgi($url,$position:false,$ie6:$ie6);
      }
      
      @if( $dir=='y' ) {
        $distanceX : ($i*$mult*-1)+$startX;
        @include bgp($startX $distanceX);
      }@else if( $dir=='x' ) {
        $distanceY : ($i*$mult*-1)+$startY;
        @include bgp($distanceY $startY);
      }@else if( $dir=='xy' ) {
        $distanceX : ($i*$mult*-1)+$startX;
        $distanceY : ($i*$mult*-1)+$startY;
        @include bgp($distanceX $distanceY);
      }

      @if( $bgz ) {
        @include bgz( $bgz );
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////
// css sprite2,矩阵图形(默认X轴开始);                                       //
// 例子 (sprite图 2行3列图标):                                             //
//    .sprite-ico{                                                       //
//      @include wh(163);                                                //
//      @include bgi('../i/1.jpg');                                      //
//    }                                                                  //
//    @include bg-sp2('.sprite-ico',2,3,163){                            //
//      @include fl;                                                     //
//    };                                                                 //
//    或者 Y轴;                                                           //
//      @include bg-sp2('.sprite-ico',2,3,163,$dir:y);                   //
///////////////////////////////////////////////////////////////////////////
//css精灵(矩阵图形);
@mixin bg-sp2( $name:sprite-ico,$y:0,$x:0,$multY:2,$multX:$multY,$startY:0,$startX:0,$dir:x,$bgz:false,$url:false,$ie6:false ) {
  // name                  : class名;
  // y                     : Y轴个数(行数);
  // x                     : X轴个数(列数);
  // multY                 : y轴间隔距离;
  // multX                 : x轴间隔距离;
  // startY                : y轴开始像素点;
  // startX                : x轴开始像素点;
  // dir                   : 方向:X轴、Y轴、XY轴(x,y,xy);
  // bgz                   : background-size;
  // url                   : 图片路径;
  // ie6                   : 兼容ie6添加gif图片;
  $num: 0;
  $dirX:0;
  $dirY:0;
  @if( $dir == 'x' ){
    @if( $x > $y ){
        $dirX : min($x,$y);
        $dirY : max($x,$y);
    }@else if( $x < $y ){
        $dirX : max($x,$y);
        $dirY : min($x,$y);
    }@else{
        $dirX : $x;
        $dirY : $y;
    }
  }@else{
    @if( $x > $y ){
        $dirX : max($x,$y);
        $dirY : min($x,$y);
    }@else if( $x < $y ){
        $dirX : min($x,$y);
        $dirY : max($x,$y);
    }@else{
        $dirX : $x;
        $dirY : $y;
    }
  }

  @for $i from 0 to $dirX{
    @for $j from 0 to $dirY{
      $num: $num+1;
      #{$name}#{$num} {
        @content;

        @if( $url ) {
          @include bgi($url,$position:false,$ie6:$ie6);
        }

        @if( $dir == 'x' ){
          $valueX : $j*$multX*-1 + $startX;
          $valueY : $i*$multY*-1 + $startY;
          @include bgp( $valueX $valueY );
        }@else{
          $valueX : $i*$multX*-1 + $startX;
          $valueY : $j*$multY*-1 + $startY;
          @include bgp( $valueX $valueY );
        }

        @if( $bgz ) {
          @include bgz( $bgz );
        }

      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////
// css sprite,只能X轴、Y轴(默认Y轴);                                                    //
// 例子 :                                                                             //
//    .sprite-ico{                                                                   //
//      @include wh(163);                                                            //
//      @include bgi('../i/1.jpg');                                                  //
//    }                                                                              //
//    @include bgList-sp(('.sprite-name','.sprite-sex','.sprite-age'),163){          //
//      @include fl;                                                                 //
//    };                                                                             //
//    或者 X轴;                                                                       //
//      @include bgList-sp(('.sprite-name','.sprite-sex','.sprite-age'),163,$dir:x); //
///////////////////////////////////////////////////////////////////////////////////////
//css 精灵 (只能X轴、Y轴);
@mixin bgList-sp( $list:(),$mult:2,$startX:0,$startY:0,$dir:y,$bgz:false,$url:false,$ie6:false ) {
  // list                  : 多个class名;
  // mult                  : 间隔距离;
  // startX                : x轴开始像素点;
  // startY                : y轴开始像素点;
  // dir                   : 方向:X轴、Y轴、XY轴(x,y,xy);
  // bgz                   : background-size;
  // url                   : 图片路径;
  // ie6                   : 兼容ie6添加gif图片;
  $distance : 0;
  @each $name in $list {
    $i : index($list,$name)-1;
    #{$name}{
        @content;

        @if( $url ) {
          @include bgi($url,$position:false,$ie6:$ie6);
        }

        @if( $dir=='y' ) {
          $distanceX : ($i*$mult*-1)+$startX;
          @include bgp($startX $distanceX);
        }@else if( $dir=='x' ) {
          $distanceY : ($i*$mult*-1)+$startY;
          @include bgp($distanceY $startY);
        }@else if( $dir=='xy' ) {
          $distanceX : ($i*$mult*-1)+$startX;
          $distanceY : ($i*$mult*-1)+$startY;
          @include bgp($distanceX $distanceY);
        }

        @if( $bgz ) {
          @include bgz( $bgz );
        }
    }
  }
}

///////////////////////////////////////////////////////////////////////////
// css sprite2,矩阵图形(默认X轴开始);                                       //
// 例子 (sprite图 2行3列图标):                                             //
//    .sprite-ico{                                                       //
//      @include wh(163);                                                //
//      @include bgi('../i/1.jpg');                                      //
//    }                                                                  //
//    @include bgList-sp2(('.sprite-name',                               //
//                      '.sprite-age',                                   //
//                      '.sprite-sex'                                    //
//                      '.sprite-native',                                //
//                      '.sprite-education',                             //
//                      '.sprite-married',),2,3,163){                    //
//      @include fl;                                                     //
//    };                                                                 //
//    或者 Y轴;                                                           //
//      @include bgList-sp2(('.sprite-name',                             //
//                           '.sprite-age',                              //
//                           '.sprite-sex'                               //
//                           '.sprite-native',                           //
//                           '.sprite-education',                        //
//                           '.sprite-married',),2,3,163,$dir:y);        //
///////////////////////////////////////////////////////////////////////////
//css精灵(矩阵图形);
@mixin bgList-sp2( $list:(),$y:0,$x:0,$multY:2,$multX:$multY,$startY:0,$startX:0,$dir:x,$bgz:false,$url:false,$ie6:false ) {
  // list                  : 多个class名;
  // y                     : Y轴个数(行数);
  // x                     : X轴个数(列数);
  // multY                 : y轴间隔距离;
  // multX                 : x轴间隔距离;
  // startY                : y轴开始像素点;
  // startX                : x轴开始像素点;
  // dir                   : 方向:X轴、Y轴、XY轴(x,y,xy);
  // bgz                   : background-size;
  // url                   : 图片路径;
  // ie6                   : 兼容ie6添加gif图片;
  $num : 0;
  $dirX : 0;
  $dirY : 0;
  $len : 0;
  @if( $dir == 'x' ){
    @if( $x > $y ){
        $dirX : min($x,$y);
        $dirY : max($x,$y);
    }@else if( $x < $y ){
        $dirX : max($x,$y);
        $dirY : min($x,$y);
    }@else{
        $dirX : $x;
        $dirY : $y;
    }
  }@else{
    @if( $x > $y ){
        $dirX : max($x,$y);
        $dirY : min($x,$y);
    }@else if( $x < $y ){
        $dirX : min($x,$y);
        $dirY : max($x,$y);
    }@else{
        $dirX : $x;
        $dirY : $y;
    }
  }
  $len : length($list);
  @for $i from 0 to $dirX{
    @for $j from 0 to $dirY{
      $num: $num+1;
      
      @if($num <= $len ){
          $name:nth($list,$num);
          #{$name}{

            @content;

            @if( $url ) {
              @include bgi($url,$position:false,$ie6:$ie6);
            }

            @if( $dir == 'x' ){
              $valueX : $j*$multX*-1 + $startX;
              $valueY : $i*$multY*-1 + $startY;
              @include bgp( $valueX $valueY );
            }@else{
              $valueX : $i*$multX*-1 + $startX;
              $valueY : $j*$multY*-1 + $startY;
              @include bgp( $valueX $valueY );
            }

            @if( $bgz ) {
              @include bgz( $bgz);
            }
        }
      }
    }
  }

}

//取消背景;
@mixin no-bg( $agr:true ){
  @if( $agr ){
    background:none!important;
  }@else{
    background:none;
  }
}