@charset "UTF-8";
//关于背景图的混合宏(mixin);

//设置背景;
@mixin bg( $color,$img:false,$repeat:no-repeat,$position:0 0 ){
	@if( $img ){
		background:url($img) $color $repeat $position;
	}@else{
		background:$color;
	}
}

//取消背景;
@mixin no-bg{
	background:none!important;
}

//设置图片背景;
@mixin bgi($img:false,$repeat:no-repeat,$position:0 0 ){
	background-image:url($img) $repeat $position;
}

//设置background-size;
@mixin bgz( $value:cover ){
	background-size:$value;
}

//设置background-clip;
@mixin bg-clip( $value:content-box ){
	background-clip:$value;
}

//设置background-origin;
@mixin bgo( $value:content-box ){	
	background-origin:$value;
}

//设置background-position;
@mixin bgp( $value:center center ){
	background-position:$value;
}

//设置背景颜色;
@mixin bgc($color,$opacity:1,$support-for-ie:true){
	@if( str-slice('#{$color}', 1, 4)  == 'rgba' ){
		background-color:rgba($color,$opacity);
		@if $support-for-ie{
			filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#{ie-hex-str(rgba($color,$opacity))},endColorstr=#{ie-hex-str(rgba($color,$opacity))});
			:root & {
				filter:none;
			}
		}
	}@else{
		background-color:unquote($color);
	}
}

//css3背景渐变;
@mixin linear-gradient( $args... ){
	@include css3(background,linear-gradient($args),false,true);
}