@charset "UTF-8";
// border的混合宏(mixin);

//border;
@mixin bd($args...) {
	border:$args;
}

//border-top;
@mixin bdt($args...) {
	border-top:$args;
}
//border-right;
@mixin bdr($args...) {
	border-right:$args;
}

//border-bottom;
@mixin bdb($args...) {
	border-bottom:$args;
}

//border-left;
@mixin bdl($args...) {
	border-left:$args;
}

//border-color;
@mixin bdc($args...) {
	border-color:$args;
}

//边框图片;
@mixin bdi($image){
  @include css3(border-image, $image);
}


