@charset "UTF-8";
// css3的混合宏(mixin);
//////////////////////////////////////////////////////
// css3前缀:                                        //  
//  $style     :  样式名 ;                          //
//  $frames    :  样式内容;                         //
//  $prefix    :  是否添加样式前缀,默认开启;        //
//  $suffix    :  是否添加样式后缀,默认关闭;        //
//////////////////////////////////////////////////////
@mixin css3($style, $frames, $prefix:true, $suffix:false) {
    @if( $prefixNo) {
        $style: $frames;
    }
    @else {
        @if( $prefix) {
            @if( $suffix) {
                @each $goods in $vendors {
                    @if( $prefixWebkit and $goods=='webkit') {
                        -#{$goods}-#{$style}: -#{$goods}-#{$frames};
                    }
                    @else if( $prefixMozilla and $goods=='moz') {
                        -#{$goods}-#{$style}: -#{$goods}-#{$frames};
                    }
                    @else if($prefixMicrosoft and $goods=='ms') {
                        -#{$goods}-#{$style}: -#{$goods}-#{$frames};
                    }
                    @else if($prefixOpera and $goods=='o') {
                        -#{$goods}-#{$style} :-#{$goods}-#{$frames};
                    }
                }
                #{$style}: #{$frames};
            }
            @else {
                @each $goods in $vendors {
                    @if( $prefixWebkit and $goods=='webkit') {
                        -#{$goods}-#{$style}: #{$frames};
                    }
                    @else if( $prefixMozilla and $goods=='moz') {
                        -#{$goods}-#{$style}: #{$frames};
                    }
                    @else if($prefixMicrosoft and $goods=='ms') {
                        -#{$goods}-#{$style}: #{$frames};
                    }
                    @else if($prefixOpera and $goods=='o') {
                        -#{$goods}-#{$style}: #{$frames};
                    }
                }
                #{$style}: #{$frames};
            }
        }
        @else {
            @if( $suffix) {
                @each $goods in $vendors {
                    @if( $prefixWebkit and $goods=='webkit') {
                        #{$style}: -#{$goods}-#{$frames};
                    }
                    @else if( $prefixMozilla and $goods=='moz') {
                        #{$style}: -#{$goods}-#{$frames};
                    }
                    @else if($prefixMicrosoft and $goods=='ms') {
                        #{$style}: -#{$goods}-#{$frames};
                    }
                    @else if($prefixOpera and $goods=='o') {
                        #{$style}: -#{$goods}-#{$frames};
                    }
                }
                #{$style}: #{$frames};
            }
            @else {
                #{$style}: #{$frames};
            }
        }
    }
}

//设置content;
@mixin cnt($content...) {
    @if( length($content) >=1) {
        content: $content;
    }
    @else {
        content: '';
    }
}

//css3过渡;
@mixin trs($properties...) {
    @if( length($properties) >=1) {
        @include css3(transition, $properties);
    }
    @else {
        $properties: all 0.3s ease;
        @include css3(transition, $properties);
    }
}

//过度属性;
@mixin trs-p($properties...) {
    @include css3(transition-property, $properties...);
}

//过度时间;
@mixin trs-dur($times...) {
    @include css3(transition-duration, $times);
}

//过渡效果;
@mixin trs-tf($motions...) {
    @include css3(transition-timing-function, $motions);
}

//过度延迟时间;
@mixin trs-del($times...) {
    @include css3(transition-delay, $times);
}

//css3圆角;
@mixin bdrs($radius: 5px) {
    @include css3( border-radius, addUnits($radius));
}

//阴影;
@mixin box-s( $shadow:0 0 4px rgba(0, 0, 0, .3) ) {
    @include css3(box-shadow, addUnits($shadow) );
}

//文字阴影;
@mixin text-s( $shadow:0 0 4px rgba(0, 0, 0, .3) ) {
    @include css3(text-shadow, addUnits($shadow) );
}

//去除阴影;
@mixin no-box-s($noshadow:none) {
    @include css3(box-shadow, $noshadow);
}

//去除文字阴影;
@mixin no-text-s($noshadow:none) {
    @include css3(text-shadow, $noshadow);
}

//是否允许用户选中文本;
@mixin usr-s($arg: text) {
    @include css3(user-select, $arg);
}

//禁止文本被选择;
@mixin user-s-ban() { 
    @include usr-s(none);
}

//transform;
@mixin trf($property...) {
    @include css3(transform, $property);
}

//元素的基点位置;
@mixin trf-o($axes) {
    @include css3(transform-origin, $axes);
}

//3D 转换;
@mixin trf-s($style: preserve-3d) {
    @include css3(transform-style, $style);
}

//隐藏被旋转的 div 元素的背面;
@mixin bv($visibility:hidden) {
    @include css3(backface-visibility, $visibility);
}

//设置元素被查看位置的视图;
@mixin pec($depth: none) {
    @include css3(perspective, $depth);
}

//设置 3D 元素的基点位置;
@mixin pec-o($value: 50% 50%) {
    @include css3(perspective-origin, addUnits($value) );
}

//设置 3D 元素的基点X位置;
@mixin pec-ox($value: 50%) {
    @include css3(perspective-origin-x, addUnits($value) );
}

//设置 3D 元素的基点Y位置;
@mixin pec-oy($value: 50%) {
    @include css3(perspective-origin-y, addUnits($value) );
}

//旋转;
@mixin rotate($degrees) {
    @if( unit( $degrees ) == 'deg' or $degrees == 0 ){
        @include css3(transform, rotate($degrees));
    }@else{
        @include css3(transform, rotate($degrees+deg));
    }
}

// 禁用元素事件
// 1. 阻止任何点击动作的执行
// 2. 使链接显示为默认光标(cursor:default)
// 3. 阻止触发hover和active状态
// 4. 阻止JavaScript点击事件的触发
@mixin pe( $arg:none ) { pointer-events: $arg; }

//filter;
@mixin filter( $arg ){
    @include css3(filter,$arg);
}

//模糊;
@mixin blur( $blur:10px ){
    @include filter(blur(addUnits($blur)));
    @if( compatibility() ){
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{addUnits($blur)}');
        *zoom: 1;
    }
}

//滤镜: 将彩色照片显示为黑白照片;
@mixin grayscale( $args:100% ){
	@include css3(filter,grayscale($args));
}

// 美化占位符 placeholder 样式
@mixin beauty-placeholder($fz:12, $color: #999, $align: left) {
    &:-moz-placeholder { 
        @include fz($fz); 
        @include c($color);
        @include ta($align); 
    }
    &:-ms-input-placeholder { 
        @include fz($fz); 
        @include c($color);
        @include ta($align); 
    }
    &::-webkit-input-placeholder { 
        @include fz($fz); 
        @include c($color);
        @include ta($align);  
    }
  }
  
  // 美化占位符 placeholder 样式(自定义属性和值)
  @mixin beauty-placeholder2() {
    &:-moz-placeholder { 
        @content; 
    }
    &:-ms-input-placeholder { 
        @content; 
    }
    &::-webkit-input-placeholder { 
        @content; 
    }
  }
  
//美化选中文本
@mixin beauty-select( $bg:#00F, $color:#fff, $obj:'') {
    #{$obj}::selection {
        background: $bg;
        color: $color;
    }
    #{$obj}::-moz-selection {
        background: $bg;
        color: $color;
    }
    #{$obj}::-webkit-selection {
        background: $bg;
        color: $color;
    }
    #{$obj}::-ms-selection {
        background: $bg;
        color: $color;
    }
    #{$obj}::-o-selection {
        background: $bg;
        color: $color;
    }
}

///////////////////////////////////////////////////////////////////////////
// css3 滚动条;                                                          //
// 例子 :                                                                //
//  @include scrollbar(scrollbar-track){                                 //
//    #{$browser}box-shadow: inset 0 0 6px rgba(0,0,0,0.3);              //
//    background-color: #F5F5F5;                                         //
//  };                                                                   //
//  @include scrollbar(scrollbar){                                       //
//    width: 12px;                                                       //
//  };                                                                   //
//  @include scrollbar(scrollbar-thumb){                                 //
//    #{$browser}border-radius: 10px;                                    //
//    #{$browser}box-shadow: inset 0 0 6px rgba(0,0,0,.3);               //
//    background-color: #fbd0c9;                                         //
//  };                                                                   //
///////////////////////////////////////////////////////////////////////////
@mixin scrollbar($style,$obj:'') {
    #{$obj}::-webkit-#{$style} {
        $browser: '-webkit-' !global;
        @content;
    }
    #{$obj}::-moz-#{$style} {
        $browser: '-moz-' !global;
        @content;
    }
    #{$obj}::-ms-#{$style} {
        $browser: '-ms-' !global;
        @content;
    }
    #{$obj}::-o-#{$style} {
        $browser: '-o-' !global;
        @content;
    }
    #{$obj}::#{$style} {
        $browser: '' !global;
        @content;
    }
}