@charset "utf-8";
// 字体的混合宏(mixin);

//设置所有字体属性;
@mixin f( $font... ){	
	@if( length($font) >= 2 ){
		font:$font;
	}@else{
		font-size:addUnits(nth($font,1));
	}
}

//设置字号;
@mixin fz( $font:12 ){
	font-size:addUnits($font); 
}

//设置字体;
@mixin fa( $family:'Microsoft Yahei' ){ 
	font-family:$family,'宋体','黑体';
}

//文字颜色;
@mixin c( $color:#000,$hovercolor:false ){
	color:$color;
	@if( $hovercolor ){
		&:hover { 
			color: $hovercolor; 
		
		}
	}
}

//文字风格;
@mixin fs( $value:bold  ){
	font-style: $value;
}

//文字加粗;
@mixin fb( $value:bold ){
	font-weight: $value;
}

//去掉文字加粗;
@mixin no-b{
	font-weight: normal;
}

//文字斜体;
@mixin ita( $value:italic ){
	@include fs( $value );
}

//去掉文字风格;
@mixin no-fs{
	@include fs( normal );
}

//设置line-height;
@mixin lh( $line ){
	line-height:addUnits($line);
}

// 正常字体样式;
@mixin normal-font() { 
	font-weight: normal; 
	font-style: normal; 
}

// 辅助性文字(灰色);
@mixin assist-font( $color: #b0b0b0, $fz: 14px ) { 
	@include c( $color );
	@include fz( $fz );
}

// 文字透明;
@mixin transparent-text() { 
	font: 0/0 serif; 
	text-shadow: none; 
	color: transparent; 
}

//字符间距;
@mixin ls( $args... ){
	letter-spacing:addUnits($args...)
}