@charset "utf-8";
//关于字体的混合宏(mixin);

//设置字体;
@mixin f( $font:12,$un:px ){
	@if( unitless($font) ){
		font-size:$font+$un; 
	}@else{
		font-size:$font; 
	}
}

//设置字体;
@mixin fa( $family:'Microsoft Yahei' ){ 
	font-family:$family,'宋体','黑体';
}

//文字颜色;
@mixin c( $color:#000 ){
	color:$color;
}

//文字风格;
@mixin fs( $value:bold  ){
	font-style: $value;
}

//文字加粗;
@mixin b( $value:bold ){
	font-weight: $value;
}

//去掉文字加粗;
@mixin no-b{
	font-weight: normal;
}

//文字斜体;
@mixin ita( $value:italic ){
	@include fs( $value );
}

//去掉文字风格;
@mixin no-fs{
	@include fs( normal );
}

//设置line-height;
@mixin line( $line ){
	line-height:$line;
}
