@charset "utf-8";
// 字体的混合宏(mixin);

//设置所有字体属性;
@mixin f( $font... ){	
	@if( length($font) >= 2 ){
		font:$font;
	}@else{
		font-size:addUnits(nth($font,1));
	}
}

//设置字号;
@mixin fz( $font:12 ){
	font-size:addUnits($font); 
}

//设置字体;
@mixin fa( $family:'Microsoft Yahei' ){ 
	font-family:$family,'宋体','黑体';
}

//文字颜色;
@mixin c( $color:#000 ){
	color:$color;
}

//文字风格;
@mixin fs( $value:bold  ){
	font-style: $value;
}

//文字加粗;
@mixin fb( $value:bold ){
	font-weight: $value;
}

//去掉文字加粗;
@mixin no-b{
	font-weight: normal;
}

//文字斜体;
@mixin ita( $value:italic ){
	@include fs( $value );
}

//去掉文字风格;
@mixin no-fs{
	@include fs( normal );
}

//设置line-height;
@mixin lh( $line ){
	line-height:addUnits($line);
}
