@charset "utf-8";
// 清除标签的混合宏(mixin);
@mixin label( $args:false ){
    
    @if( $args or $global-unit == rem ){
        @include mobile-label;
    }@else{
        @include pc-label;
    }

}

//pc端清除标签的混合宏;
@mixin pc-label{
    html{
        font-family:"Microsoft YaHei",'SimSun','SimHei',sans-serif;
        -ms-text-size-adjust:100%;
        -webkit-text-size-adjust:100%;
    }
    html,body,div,object,iframe,applet,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video,progress{
        margin:0;
        padding:0;
        border:0;
        vertical-align:baseline;
    }
    li{
        list-style:none;
    }
    article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{
        display:block;
    }
    audio,canvas,progress,video{
        display:inline-block;
    }
    audio:not([controls]){
        display:none;height:0;
    }
    [hidden],template{
        display:none;
    }
    a{
        background-color:transparent;
        text-decoration:none;
    }
    a:active,a:hover{
        outline:0;
    }
    abbr[title]{
        border-bottom:1px dotted;
    }
    b,strong{
        font-weight:bold;
    }
    dfn{
        font-style:italic;
    }
    h1{
        font-size:2em;
        margin:.67em 0;
    }
    mark{
        background:#ff0;
        color:#000;
    }
    small{
        font-size:80%;
    }
    sub,sup{
        font-size:75%;
        line-height:0;
        position:relative;
        vertical-align:baseline;
    }
    sup{
        top:-0.5em;
    }
    sub{
        bottom:-0.25em;
    }
    img{
        border:0;
        -webkit-touch-callout:none;
        vertical-align:top;
    }
    svg:not(:root){
        overflow:hidden
    }
    figure{
        margin:1em 40px;
    }
    hr{
        -moz-box-sizing:content-box;
        box-sizing:content-box;
        height:0;
    }
    pre{
        overflow:auto;
    }
    code,kbd,pre,samp{
        font-family:monospace,monospace;
        font-size:1em;
    }
    button,input,optgroup,select,textarea{
        color:inherit;
        font:inherit;
        margin:0;
        padding:0;
        outline:none;
        line-height:normal;
    }
    button{
        overflow:visible;
    }
    button,select{
        text-transform:none;
    }
    button,html input[type="button"],input[type="reset"],input[type="submit"]{
        -webkit-appearance:button;
        cursor:pointer;
    }
    button[disabled],html input[disabled]{
        cursor:default;
    }
    button::-moz-focus-inner,input::-moz-focus-inner{
        border:0;
        padding:0;
    }
    input{
        line-height:normal;
    }
    input[type="checkbox"],input[type="radio"]{
        box-sizing:border-box;
        padding:0;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button{
        height:auto;
    }
    input[type="search"]{
        -webkit-appearance:textfield;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box;
        box-sizing:content-box;
    }
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration{
        -webkit-appearance:none;
    }
    fieldset{
        border:1px solid silver;
        margin:0 2px;
        padding:.35em .625em .75em;
    }
    legend{
        border:0;
        padding:0;
    }
    textarea{
        overflow:auto;
    }
    optgroup{
        font-weight:bold;
    }
    table{
        border-collapse:collapse;
        border-spacing:0;
    }
    td,th{
        padding:0;
    }
}

//移动端清除标签的混合宏;
@mixin mobile-label{
    html{
        font-family:'Microsoft YaHei','SimSun','SimHei',Arial,Helvetica,sans-serif; 
        font-size:12px;
        -ms-text-size-adjust:100%;
        -webkit-text-size-adjust:100%;
    }
	html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        font-weight:normal;
        vertical-align:baseline;
        background:transparent;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        -webkit-tap-highlight-color:transparent;
    }
	ul,ol{
        list-style:none;
    }
	article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
        display:block;
    }
	audio,canvas,progress,video{
        display:inline-block;
        vertical-align:baseline;
    }
	audio:not([controls]){
        display:none;
        height:0;
    }
	[hidden],template{
        display:none;
    }
	a{
        text-decoration:none;
        background-color:transparent;
        -webkit-touch-callout:none;
    }
	a:active,a:hover{
        outline:0;
    }
	abbr[title],dfn[title]{
        border-bottom:1px dotted #000;
        cursor:help;
    }
	b,strong{
        font-weight:bold;
    }
	dfn{
        font-style:italic;
    }
	mark{
        background:#ff0;
        color:#000;
    }
	small{
        font-size:80%;
    }
	sub,sup{
        position:relative;
        font-size:75%;
        line-height:0;
        vertical-align:baseline;
    }
	sup{
        top:-0.5em;
    }
	sub{
        bottom:-0.25em;
    }
	img{
        border:0;
        -webkit-touch-callout:none;
        vertical-align:top;
    }
	svg:not(:root){
        overflow:hidden;
    }
	hr{
        box-sizing:content-box;
        height:0;
    }
	pre{
        overflow:auto;
    }
	code,kbd,pre,samp{
        font-family:monospace, monospace;
        font-size:1em;
    }
	button,input,optgroup,select,textarea{
        margin:0;
        padding:0;
        border:none;
        line-height:normal;
        font:inherit;
        color:inherit;
        outline:none;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        -webkit-tap-highlight-color:transparent;
    }
	button{
        overflow:visible;
    }
	button,select{
        text-transform:none;
    }
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"]{
        -webkit-appearance:button;
        cursor:pointer;
    }
    button[disabled],
    input[disabled]{
        cursor:default;
    }
    button::-moz-focus-inner,
    input::-moz-focus-inner{
        border:0;
        padding:0;
    }
	input{
        line-height:normal;
        padding:0;
    }
    input[type="checkbox"],
    input[type="radio"]{
        box-sizing:border-box;
        padding:0;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button{
        height:auto;
    }
	input[type="search"]{
        -webkit-appearance:textfield;
        box-sizing:content-box;
    }
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration{
        -webkit-appearance:none;
    }
	::-webkit-input-placeholder{
        color:#888;
    }
	::-moz-input-placeholder{
        color:#888
    }
	::-ms-input-placeholder{
        color:#888;
    }
	::-o-input-placeholder{
        color:#888;
    }
	fieldset{
        border:1px solid #e1e1e1;
        margin:0 2px;
        padding:0.35em 0.625em 0.75em;
    }
	legend{
        border:0;
        padding:0;
    }
	textarea{
        overflow:auto;
    }
	optgroup{
        font-weight:bold;
    }
	table{
        border-collapse:collapse;
        border-spacing:0;
    }
	td,th{
        padding:0;
    }
}