@charset "utf-8";
// 其他的混合宏(mixin);

//元素顶端对齐方式;
@mixin vit{
  @include vertical-align(top);
}

//元素中部对齐方式;
@mixin vic{
  @include vertical-align(middle);
}

//元素最低对齐方式;
@mixin vib{
  @include vertical-align(bottom);
}

//元素垂直对齐方式;
@mixin vertical-align( $direction:middle ){
  //baseline    :   默认。元素放置在父元素的基线上;
  //sub         :   垂直对齐文本的下标;
  //super       :   垂直对齐文本的上标;
  //top         :   把元素的顶端与行中最高元素的顶端对齐;
  //text-top    :   把元素的顶端与父元素字体的顶端对齐;
  //middle      :   把此元素放置在父元素的中部;
  //bottom      :   把元素的顶端与行中最低的元素的顶端对齐;
  //text-bottom :   把元素的底端与父元素字体的底端对齐;
  //%           :   使用 "line-height" 属性的百分比值来排列此元素。允许使用负值;
  //inherit     :   规定应该从父元素继承 vertical-align 属性的值;
  vertical-align: $direction;
}

//超出截断;
@mixin over{overflow:hidden; }

//x轴截断;
@mixin over-x($arg:hidden){
  overflow-x:$arg;
}

//y轴截断;
@mixin over-y($arg:hidden){
  overflow-y:$arg;
}

//取消截断;
@mixin ofv{overflow:visible !important;}

//鼠标手;
@mixin cur{ 
  @include cursor;
}

//鼠标默认;
@mixin def{ 
  @include cursor(default);
}

//隐藏鼠标手势;
@mixin hide-cur() { 
  cursor: none !important; 
}

//设置鼠标手;
@mixin cursor( $args:pointer ){
  cursor:$args
}

//透明度;
@mixin opa($opacity:.8,$support-for-ie:false) {
  opacity: $opacity;
  @if( compatibility() or $support-for-ie ){
    filter: alpha(opacity=$opacity*100); //IE8
  }
}

//禁止textarea拖动大小;
@mixin no-resize{
  resize: none;
}

//首字下沉;
@mixin first-letter($fz: 6em) {
  &::first-letter{
    @include fl;
    @include flh($fz,1);
  }
}

//特殊标记段落第一行;
@mixin first-line($color:red) {
  &::first-line{
    @include c($color);
  }
}
