@charset "utf-8";
// px转rem的混合宏(mixin);

//移动端rem单位函数、配合hotcss.js一起用同时设置$designWidth的PSD宽度值(https://github.com/imochen/hotcss/blob/master/src/hotcss.js);
//感谢'墨尘(https://github.com/imochen)'开源的项目'hotcss(https://github.com/imochen/hotcss)'
////////////////////////////////////////////////////////////////////////////// 
// 转换rem: $px:数值,$important:权限最高      							    //             
//  例子 :                                                                  //   
//		    $designWidth : 640;                                             //
//			.a{ width : px2rem(100); } /  .a{ @include w(px2rem(100)); }    //
//////////////////////////////////////////////////////////////////////////////
@function px2rem( $px , $important:false ){
	$value : 0;
	//判断是否有单位;
	@if( not unitless($px) ){
		//是否最高权限;
		$value : strip-units($px)*320/$designWidth/20;
		@if( $important ){
			@return toRound( $value ) + rem + !important;
		}

		@return toRound( $value ) + rem;
	}@else{
		//是否最高权限;
		$value : $px*320/$designWidth/20;
		@if( $important ){
			@return toRound( $value ) + rem + !important;
		}
		@return toRound( $value ) + rem;
	}
	
}

//简单rem多值转行;
@function gpx2rem( $px... ){
   $arr:null;
   @each $arg in $px {
     $arr : $arr px2rem( $arg );  
   }
   @return $arr;
}

//微信小程序rpx单位函数同时设置$wxDesignWidth的PSD宽度;
//////////////////////////////////////////////////////////////////////////////
// 转换rpx: $px:数值,$important:权限最高      							    //            
//  例子 :                                                                  //   
//			$wxDesignWidth : 750;                                           //
//			.a{ width : px2rpx(100); } /  .a{ @include w(px2rpx(100)); }    //
//////////////////////////////////////////////////////////////////////////////
@function px2rpx( $px , $important:false ){
	$value : 0;
	//判断是否有单位;
	@if( not unitless($px) ){
		//是否最高权限;
		$value : strip-units($px)*(750/$wxDesignWidth);
		@if( $important ){
			@return toRound($value) + rpx + !important;
		}
		@return toRound($value) + rpx;
	}@else{
		//是否最高权限;
		$value : $px*(750/$wxDesignWidth);
		@if( $important ){
			@return toRound($value) + rpx + !important;
		}
		@return toRound($value) + rpx;
	}
}

//简单rpx多值转行;
@function gpx2rpx( $px... ){
   $arr:null;
   @each $arg in $px {
     $arr : $arr px2rpx( $arg );  
   }
   @return $arr;
}

//去单位函数;
@function strip-units($number){
    @return $number / ($number * 0 + 1);
}

//四舍五入,保留小数4位;
@function toRound( $num ){
	$number : 0;
	$number : floor($num * 10000)/10000;
	@return  $number;
}