@charset "UTF-8";
// 文本的混合宏(mixin);

//超出一行....;
@mixin tofl{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//多行显示...;
@mixin erow( $row:2 ){
  @include css3(display,box,false,true);
  @include css3(line-clamp,$row);
  @include css3(box-orient,vertical);
  overflow : hidden;
  text-overflow: ellipsis;
}

//强制折行;
@mixin bword{
  word-break:break-all; /*支持IE，chrome，FF不支持*/
　word-wrap:break-word; /*支持IE，chrome，FF*/
}

//断行;
@mixin wdw($wrap: break-word) {
  overflow-wrap: $wrap;
  word-wrap: $wrap;
  @if $wrap == break-word {
    word-break: break-all;
  } @else {
    word-break: $wrap;
  }
}

//隐藏文字;
@mixin hide-text($num:101%){
  @include indent($num);
  white-space: nowrap;
  overflow: hidden;
}

//设置text-indent;
@mixin ti( $value:2em ){
  text-indent:addUnits($value);
}

//显示图标;
@mixin replace-text($image,$x:50%,$y:50%){
  @include hide-text();
  background-image:$image;
  background-repeat:no-repeat;
  background-position:$x $y;
}
  
//文字居左对齐;
@mixin tal{ 
  @include text-align(left);
}

//文字居右对齐;
@mixin tar{ 
  @include text-align(right);
}

//文字居中对齐;
@mixin tac{ 
  @include text-align(center);
}

//设置文字对齐方式;
@mixin text-align( $direction:left ){
  text-align: $direction;
}

//上下划线;
@mixin td( $args:line-through ){
  text-decoration : $args;
}

//上划线;
@mixin line-over{
  @include td(overline);
}

//删除线;
@mixin line-del{
  @include td(line-through);
}

//下划线;
@mixin line-underline{
  @include td(underline);
}

//闪烁;
@mixin line-blink{
   @include td(blink);
}

//取消下划线;
@mixin no-line{
  @include td(none !important);
}

