@charset "utf-8";
// 颜色的混合宏(mixin);

//color;
$c-link    : #72ACE3;
$c-white   : #fff;
$c-black   : #000;
$c-gray    : #999;
$c-dark    : #333;
$c-disabled: #666;
$c-blue    : #3B91FF;
$c-green   : #13CE66;
$c-yellow  : #FFAE00;
$c-orange  : #e8590c;
$c-red     : #E11617;
$c-pink    : #c2255c;
$c-grape   : #9c36b5;
$c-violet  : #6741d9;
$c-indigo  : #3b5bdb;
$c-cyan    : #0c8599;
$c-teal    : #099268;
$c-lime    : #66a80f;

//font-size 值;
$f-value   : 14;

//line-height 值;
$lh-value  : 18;

//border-radius 值;
$bdrs-value: 5;








